* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	text-decoration: none;
}

.container {
	position: relative
}



#exer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#exer li {
	float: left;
}

#exer a {
	display: block;
	padding: 15px;
	text-decoration: none;
}

#exer a:hover {
	color: white;
	background: #282A35;
	font:40px;
}

#exercise {
	display: none;
	position: absolute;
	border: 2px solid green;
	background: white;

}

#exercise a {
	color: black;
	opacity: 10
}


nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background: #FFFFFF;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	font-size: 18px;
	margin-left: 50px;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	text-decoration: none;
	color: black;

}

.options-nav {
	display: flex;
	margin-right: 100px;

}

.options-nav h5 {
	margin: 0 10px;
	font-size: 18px;
	cursor: pointer;
}

.options-nav h5:hover {
	opacity: 0.8;

}

.GetVerified {

	border-radius: 20px;
	padding: 8px 16px;
	background: #282A35;
	color: #ffffff;
	cursor: pointer;
	position: relative;
}

.GetVerified::after {
	content: '';
	height: 5px;
	width: 0px;
	background: #04AA6D;
	position: absolute;
	left: 0px;
	bottom: -5px;
}

.GetVerified:hover::after {
	

	width: 100%
}


.Upgrade {
	background: #FFC0C7;
	border-radius: 20px;
	padding: 8px 16px;
	position: relative;
}

.Upgrade::after {
	content: '';
	height: 5px;
	width: 0px;
	background: #04AA6D;
	position: absolute;
	bottom: -5px;
	left: 0px;

}

.Upgrade:hover::after {

	width: 100%;


}

.CreateWebsite:hover:active {
	color: red;


}



.CreateWebsite:hover::after {

	width: 100%;


}

.CreateWebsite::after {
	content: '';
	height: 5px;
	width: 0;
	background: #04AA6D;
	position: absolute;
	bottom: -5px;
	left: 0px;
}

.CreateWebsite {
	background: #FFC0C7;
	border-radius: 20px;
	padding: 8px 16px;
	background: #FFF4A3;
	position: relative;
}



.GetVerified:hover:active {
	color: red;


}

.Upgrade:hover:active {
	color: red;


}

.CreateWebsite:hover:active {
	color: red;


}





.choose-language {
	background: #282A35;
	position: sticky;
	top: 0;




}
.language-6{
	background: #04aa6d;
}


.choose-language a:hover {
	opacity: 0.8;


}

.choose-language ul {
	height: 44px;
	display: flex;
	align-items: center;
	list-style: none;
	font-family: 'Source Sans Pro', sans-serif;
}



.choose-language ul li {
	padding: 13px 20px;

}

.choose-language ul li a {
	text-decoration: none;
	color: #FFFFFF;
}
#hello ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}



#hello a {
	display: block;
	padding: 15px;

	text-decoration: none;
}

#hello a:hover {
	
	background: #282A35;
}








#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}



#menu a {
	display: block;
	padding: 15px;

	text-decoration: none;
}

#menu a:hover {
	
	background: #282A35;
}



#options {
	display: none;
	position: absolute;
	border: 2px solid black;
	background: white;
	height: 200px;
	width: 300px;
	border-radius: 5px
	
	



}
.container-exercise:hover{
	color: white
	
}
#options .optionss{
	color: black;
}#options .optionss:hover{
color: white;
}




#options a{
	color: black;
}


.body {
	display: flex;
	justify-content: space-between;
	height: 1000vh;



}
body{

	color: black;
	background: white;

}body.mema{


	background: black;

}


.body .left {
	height: 100vh;
	position: sticky;
	top: 45px;
	width: auto;
	overflow-y: scroll;
	background-color: #E7E9EB;
}


.body .left p {
	padding: 0 20px;
	cursor: pointer;


}

.body .left p:hover {
	background: #04AA6D;
	color: #ffffff;

}
.contain-left{
	position: static;
	top: -70px;
}

.main {

	flex-basis: 70%;
	color: black;
	padding: 0px 10px;

}

.main .contain_javaturorial {
	height: 300px;
	background: #ffffff;
	align-items: center;
	display: flex;
	padding: 0 20px;

}

.main .contain_javaturorial .contain_all {
	margin-top: 40px;
	width: 100%;
}

.main .contain_javaturorial .contain_all h1 {
		font-family: "Segoe UI",Arial,sans-serif;
	text-transform: capitalize;
	margin: 10px;
}

.main .contain_javaturorial .contain_all .back_next {
	display: flex;
	justify-content: space-between;

}

.main .contain_javaturorial .contain_all .back_next a {
	background: #04aa6d;
	text-transform: uppercase;
	color: white;
	padding: 8px 16px;
	border-radius: 5px;

}



.body .right {

	flex-basis: 15%;
}
.learnjava{
	background: #d9eee1;
	padding: 32px;
	margin: 5px;
}
.learnjava h2{
	text-transform: capitalize;
	
}.learnjava p{
	margin: 1em;
}
.learnjava a{
		background: #04aa6d;
	text-transform: uppercase;
	color: white;
	padding: 8px 25px;
	border-radius: 5px;
	margin: 6px 0px 16px;
}
.examples-in-each-chapter{
		background: #e7e9eb;
	padding: 50px 20px;

}
.examples-in-each-chapter h1{
	font-size:30px;
font-family:serif;	
}
.examples-in-each-chapter p{
		margin: 1em;

}
.example-pic-home{
	width: 100%;
    border-left: 4px solid #04AA6D;
	height: 100px;
	background: #ffffff;
	
}
.example h3{
font-family:sans-serif;	
	font-size:20px;
}
.drop-image {
	margin: 25px;
}
.drop-image  .image-1{
margin: 10px;
}

.run-example{
	
}
.run-example p{
	font: 15px ;
	font-family: sans-serif;
	margin: 20px;
 	font-weight: bold;
	
	
}
.run{
	background-color: #ffffcc;
	padding: 20px 20px;
	margin: 10px
}
.run p{
	font: 15px ;
	font-family: sans-serif;
	margin: 20px;
 	
}

.java-exercises-1{
	background: #282A35;
	height: 200px;
	padding: 10px 20px;
}
.java-exercises-1 {
		
	padding: 20px;
	border-radius: 5px;
	height: auto;
}
.java-exercises-1 h1{
	padding: 20px;
}

.execise-2{

background: #ffffff;
	border-radius: 5px;
width: 100%;
	height: 400px;
}

/*da
